body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#videos-container {
  height: calc(95vh - 50px) !important;
}

#videos-container iframe {
  height: 100% !important;
}
